# ignore the contains of the folders logfiles, data and build
logfiles/
data/
build/
pyTCP/__pycache__/
socketStream_py.egg-info/socketStream_py.egg-info
socketStream_py.egg-info

# ignore all the *.obj files
*.obj
# *.txt
*.pdb
*.o
*.pyc
